

<div class="container">
    <br><br><br><br>
    <div class="foods">
        <h3 id='them-mon-an' style="padding: 0px 0px 0px 0px;">Thêm món ăn</h3>
        <form method="POST" action="/foods/store" id='form-create-food' enctype="multipart/form-data">
            <div class="form-group">
                <label for="foodName" style="margin: 0px;">Tên món ăn</label><span id='label-foodName'></span>
                <input type="text" class="form-control" id="foodName" name='foodName' autocomplete="off" value='{{food.foodName}}'>
            </div>
            <div class="form-group">
                <label for="foodType" style="margin: 0px;">Thể loại món ăn</label><span id='label-foodType'></span>
                <select class="custom-select" id="form-select">
                    <option value='noSelect'>--Chọn--</option>
                    <option value="food">Food</option>
                    <option value="drink">Drink</option>
                    <option value="Dessert">Dessert</option>
                    <input type="hidden" name="type" id="valueFormSelect">
                </select>
            </div>
            <div class="form-group">
                <label for="description">Mô tả món ăn</label><span id='label-description'></span>
                <input  class="form-control" id="description" name='description' value ='{{food.description}}' />
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ</label><span id='label-address'></span>
                <input type="text" class="form-control" id="address" name='address' autocomplete="off" value='{{food.address}}'>
            </div>
            <div class="form-group">
                <label for="image">Thêm ảnh</label><span id='label-iamge'></span><br>
                <input type="file" class="foodImage" id="image" name='file'  accept="image/png, image/jpeg">
            </div>

            <div class="form-group">
                <label for="price">Giá món ăn</label><span id='label-price'></span>
                <input type="text" class="form-control" id="price" name='price' autocomplete="off" value='{{food.price}}'>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-lg-5">
                        <label for="timeOpen">Giờ mở cửa &nbsp;&nbsp;</label>
                        <input type="time" id="timeOpen" name="timeOpen" value='{{food.timeOpen}}'required><br>
                    </div>
                    <div class="col-lg-5">
                        <label for="timeClose">Giờ đóng cửa</label>
                        <input type="time" id="timeClose" name="timeClose" value='{{food.timeClose}}' required>
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary" id='btn-edit' style="margin: 0 auto;">Thêm món ăn</button>
            </div><br> <br> <br><br>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var labelFoodName = document.getElementById('label-foodName')
        var labelDescription = document.getElementById('label-description')
        var labelAddress = document.getElementById('label-address')
        var labelImage = document.getElementById('label-image')
        var labelPrice = document.getElementById('label-price')
        var labelFoodType = document.getElementById('label-foodType')
      //  var labelTimeOpen = document.getElementById('label-timeOpen')
      //  var labelTimeClose = document.getElementById('label-timeClose')


        var foodName = document.getElementById('foodName')
        var description = document.getElementById('description')
        var address = document.getElementById('address')
        var image = document.getElementById('image')
        var price = document.getElementById('price')
       // var timeOpen = document.getElementById('timeOpen')    
       // var timeClose = document.getElementById('timeClose')    

        $('#form-create-food').submit(function(e){
            e.preventDefault()
            var check = true;
            var valueFoodName = foodName.value.trim()
            var valueDescription = description.value.trim()
            var valueAddress = address.value.trim()
            var valuePrice = price.value.trim()
            var valueImage = image.value
            var type= $('#form-select option:selected').val()
           // var valueTimeOpen = timeOpen.value.trim()
           // var valueTimeClose = timeOpen.value.trim()

            //type
            if(type=='noSelect'){
                check=false
                labelFoodType.innerHTML=' &nbsp; &nbsp; &nbsp; &nbsp;Chưa chọn thể loại món ăn'
            }
            else{
                labelFoodType.innerHTML=''
                $('#valueFormSelect').val(type)
            }
            //foodName
            if(valueFoodName==''){
                check=false
                labelFoodName.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tên món ăn không được trống'
            }
            else {
                labelFoodName.innerHTML=''
            }
            //description
            if(valueDescription==''){
                check=false
                labelDescription.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mô tả món ăn không được trống'
            }
            else {
                labelDescription.innerHTML=''
            }
            //address
            if(valueAddress==''){
                check=false
                labelAddress.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Địa chỉ không được trống'
            }
            else {
                labelAddress.innerHTML=''
            }
            //price
            if(valuePrice==''){
                check=false
                labelPrice.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Giá món ăn không được trống'
            }
            else {
                function isNumber(n) { return !isNaN(parseFloat(n)) && !isNaN(n - 0) }
                if(isNumber(valuePrice)){
                    labelPrice.innerHTML=''
                }
                else{
                    labelPrice.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Giá món ăn phải là số'
                    check =false;
                }

            }

            //images
            if(valueImage==''||valueImage==null){
                check=false
            }

            // check all input true
            if(check==true){
               this.submit()
            }
        })
    })
</script>