
<div class="container">
    <div class="mt-4 foods">
        <h3 id='them-mon-an' style="padding: 0px 0px 0px 0px;">Edit món ăn</h3>
        <form method="POST" action="/foods/{{food._id}}?_method=PUT" id='form-edit-food' enctype="multipart/form-data">
            <div class="form-group">
                <label for="foodName">Tên món ăn</label><span id='label-foodName'></span>
                <input type="text" class="form-control" id="foodName" name='foodName' autocomplete="off" value='{{food.foodName}}'>
            </div>
            <div class="form-group">
                <label for="description">Mô tả món ăn</label><span id='label-description'></span>
                <textarea  class="form-control" id="description" name='description'>{{food.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ</label><span id='label-address'></span>
                <input type="text" class="form-control" id="address" name='address' autocomplete="off" value='{{food.address}}'>
            </div>
            <div class="form-group">
                <label for="image">Thêm ảnh</label><span id='label-iamge'></span><br>
                <input type="file" class="foodImage" id="image" name='file'  accept="image/png, image/jpeg">
            </div>

            <div class="form-group">
                <label for="price">Giá món ăn</label><span id='label-price'></span>
                <input type="text" class="form-control" id="price" name='price' autocomplete="off" value='{{food.price}}'>
            </div>
            <div class="form-group">
                <label for="discount">Giảm giá</label><span id='label-discount'></span>
                <input type="text" class="form-control" id="discount" name='discount' autocomplete="off" value='{{food.discount}}' placeholder="eg: 20%">
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-lg-5">
                        <label for="timeOpen">Giờ mở cửa &nbsp;&nbsp;</label>
                        <input type="time" id="timeOpen" name="timeOpen" value='{{food.timeOpen}}'required><br>
                    </div>
                    <div class="col-lg-5">
                        <label for="timeClose">Giờ đóng cửa</label>
                        <input type="time" id="timeClose" name="timeClose" value='{{food.timeClose}}' required>
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary" id='btn-edit' style="margin: 0 auto;">Edit món ăn</button>
            </div>
        </form>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function(){
        var labelFoodName = document.getElementById('label-foodName')
        var labelDescription = document.getElementById('label-description')
        var labelAddress = document.getElementById('label-address')
        var labelImage = document.getElementById('label-image')
        var labelPrice = document.getElementById('label-price')
      //  var labelTimeOpen = document.getElementById('label-timeOpen')
      //  var labelTimeClose = document.getElementById('label-timeClose')


        var foodName = document.getElementById('foodName')
        var description = document.getElementById('description')
        var address = document.getElementById('address')
        var image = document.getElementById('image')
        var price = document.getElementById('price')
       // var timeOpen = document.getElementById('timeOpen')    
       // var timeClose = document.getElementById('timeClose')    

        $('#form-edit-food').submit(function(e){
            e.preventDefault()
            var check = true;
            var valueFoodName = foodName.value.trim()
            var valueDescription = description.value.trim()
            var valueAddress = address.value.trim()
            var valuePrice = price.value.trim()
            var valueImage = image.value
           // var valueTimeOpen = timeOpen.value.trim()
           // var valueTimeClose = timeOpen.value.trim()

            //foodName
            if(valueFoodName==''){
                check=false
                labelFoodName.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tên món ăn không được trống'
            }
            else {
                labelFoodName.innerHTML=''
            }
            //description
            if(valueDescription==''){
                check=false
                labelDescription.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mô tả món ăn không được trống'
            }
            else {
                labelDescription.innerHTML=''
            }
            //address
            if(valueAddress==''){
                check=false
                labelAddress.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Địa chỉ không được trống'
            }
            else {
                labelAddress.innerHTML=''
            }
            //price
            if(valuePrice==''){
                check=false
                labelPrice.innerHTML='&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Giá món ăn không được trống'
            }
            else {
                labelPrice.innerHTML=''
            }

            //images
            if(valueImage==''||valueImage==null){
                this.enctype = ''
            }

            // check all input true
            if(check==true){
                this.submit()
            }
            else {
                this.enctype='multipart/form-data'
            }
        })
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#them-mon-an").offset().top
        }, 800);
    })
</script>