
{{!--  --}}
<link rel="stylesheet" href="/css/chat.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/vendor/home/css/style.css"> 
<link rel="stylesheet" href="/css/storedMessage.css">
{{!-- thêm js để chạy animation --}}

<div class="row" style="position: relative; right: 20px">
    <div class="alert alert-success" id="success-alert" style="z-index:10; position : absolute; right: 10px; display:none">
        {{!-- <button type="button" class="close" data-dismiss="alert" style="">x</button> --}}
        Đặt hàng thành công! &nbsp;
    </div>
</div>

<div class="container">
    {{!-- Food --}}
    <br> <br> <br>
    <div class="tz-gallery" style="margin: 30px 0px 30px 0px;">
        <div class="row">   
            <div class="col-lg-5" style="margin-bottom: 20px;">
                <a class="lightbox" href="{{food.image}}">
                    <img class="img-fluid card-img-top fill" src="{{food.image}}" alt="Gallery Images">
                </a>
            </div>
            <div class="col-lg-5 food">
                <h2>{{food.foodName}}</h2>
                <p style="margin: 0px 0px 0px 0px;">Địa chỉ: {{food.address}}</p>
                {{{displayVote food.userVote}}}
                <div >
                    {{{displayStarVote vote}}}
                    <br>
                </div>
                <p style="margin: 0px 0px 0px 0px;">          
                    <i class="fas fa-circle" style="color: #6CC942; font-size:8px;">&nbsp;</i> 
                    <span style="color: #6CC942; font-size: 18px;">Mở cửa</span>
                    <i class="far fa-clock" style="font-size: 18px; color: #666666;"> </i>
                    <span style=" font-size: 18px;">{{food.timeOpen}}-{{food.timeClose}} </span>
                </p>
                <p style="margin: 0px 0px 10px 0px;">
                    <i class="fas fa-dollar-sign" style="font-size: 18px; color:#666666;"></i>
                    <span style=" font-size: 18px; margin: 0px 0px 10px 0px;">Giá: {{toLocaleString food.price}}đ </span>
                    <button class="btn" id="btn-value-cart" style="background-color:white ;border-radius: 50px; padding: 0px 5px; 
                        position:relative; top: 26px; right: 50px; text-align: center; font-size: 14px; 
                        color: #EE4D2D; border: 1px solid #fff; opacity: 1;" disabled></button>
                    {{!-- <span id="span-order" style="color: red;position:relative; top: 36px; right: 55px;text-shadow: 0 0 3px #000"></span> --}}
                </p>
                
                <button type="button" class="btn btn-success btn-order-animation" id='btn-order' style="padding: 5px; font-size: 15px;margin-bottom:20px;" 
                    data-toggle="modal" data-target="#order-modal">                 
                    <i class="fas fa-shopping-cart"> 
        
                    </i>
                    Order
           
                </button>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-success btn-chat" style="padding: 5px; font-size: 15px; margin-bottom:20px;" id='btn-chat'>
                    <i class="far fa-comment-dots"></i>
                    Chat
                </button>
            </div>
            <div class="col-lg-2" style="margin-right: 1000px;">
                {{{btnUpdateFood user._id food.idUser}}}
                {{!-- <button type="button" class="btn btn-danger" id='update-food'>
                    Sửa thông tin món ăn
                </button> --}}
            </div>
        </div>
    </div>
    <!--Section: Block Content-->
    <section>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-9">
                <h2 style="color: #CF2127;">Danh sách món ăn</h2>
                <!-- Card -->
                <div class="mb-3">
                    <div class="pt-4 wish-list">
                    {{#each Foods}}
                        <div class="row mb-4">
                            <div class="col-md-5 col-lg-3 col-xl-2">
                                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0 tz-gallery" 
                                    style="background-color: #e2d6d6; margin-top: 0px ">
                                    <a class="lightbox" href="{{this.image}}" style="border: 2px solid #e2d6d6">
                                        <img class="img-fluid card-img-top fill" src="{{this.image}}" alt="Gallery Images" >
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5>{{this.foodName}}</h5>
                                        <p class="mb-1 text-muted text-uppercase small" style="color: #6CC942;">Lượt mua: 100</p>
                                        <p class="mb-1 text-muted text-uppercase small">vote: 5*</p>
                                    </div>
                                    <div>
                                        <p class="mb-0">
                                            <span><strong id="summary">{{toLocaleString this.price}}đ</strong></span> 
                                            <button style="background-color: #fff; border: 2px solid #fff; padding: 0px 0px;" class="animation">
                                                <i class="fas fa-plus-circle circle-i add-to-cart" style="color: red; font-size: 20px;"></i> 
                                            </button>
                                            <input type="hidden" value="{{this.foodName}}">
                                            <input type="hidden" value="{{this.price}}">
                                            <input type="hidden" value="{{this._id}}">
                                            <input type="hidden" value="{{this.image}}">
                                        </p class="mb-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                    {{/each}}
                </div>
                <!-- Card -->


            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Block Content-->
    {{!-- Messenger --}}
    <input type="checkbox" id="click">
    <label for="click" style="position: fixed;z-index: 2;">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
    </label>
    <div class="wrapper" style="position: fixed;z-index: 105;" >
        <div class="head-text contacts_card">Let's chat? - Food Online</div>
        <div class="row d-flex displayChatForHidden">
            <div class="mb-sm-3 mb-md-0 contacts_card" style="overflow-y: auto; border-right: 1px solid #DCDCDC;">
                <div  style="background-color: #F0F2F5;width: 200px; margin-left:15px" class="div_overflow">
                    {{!-- Hiện danh sách những ng đã chat --}}
                    <div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
                    <div class="card-body contacts_body" style="cursor: pointer;">
                        <ui class="contacts" id='uiContacts'>
                            {{#each users}}
                                {{#if @index}}
                                    <li class="onActive">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                {{{imageChat this.image }}}
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>{{this.firstname}} {{this.lastname}}</span>
                                                <p>{{this.lastChat}}</p>
                                            </div>
                                        </div>
                                        <input type="hidden" value='{{this._id}}' class="idUserChats">
                                    </li>
                                {{else}}
                                    <li class="onActive active2">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                {{{imageChat this.image }}}
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span style="margin-bottom: 10px;">{{this.firstname}} {{this.lastname}}</span>
                                                <p>{{this.lastChat}}</p>
                                            </div>
                                        </div>
                                        <input type="hidden" value='{{this._id}}' class="idUserChats">
                                    </li>   
                                {{/if}}                            
                            {{/each}}
                        </ui>
                    </div>
                </div>
            </div>
            <div style="width: 350px; margin-right:15px;" class="contacts_card">
                <div class="form" id="form-chat">
                    <div id='chatByStoreFood'>
                        {{{getFirstChat chats user}}}
                    </div>
                    <div id="chatMessageByUser">
                        {{#each chats}}
                            {{{textChat this}}}
                        {{/each}}
                    </div>
                </div>
                <form id="form1" autocomplete="off">
                    <div class="typing-field">
                        {{#if chats}}
                            <div id="checkInputMessage" class="d-flex align-items-center">
                                    <div class="input-data">
                                        <input id="text" class="textInputMessageChat" type="text" placeholder="Aa">
                                    </div>
                                    <a href="" id='a-send-message' style="color: #0084ff">
                                        <i class="fas fa-thumbs-up" style="color: #0084ff; font-size: 25px; 
                                            margin-right: 0px; margin-left: 10px;"></i>
                                    </a>
                            </div>
                        {{else}}
                            <div id="checkInputMessage" style="visibility: hidden;"class="d-flex align-items-center">
                                    <div class="input-data">
                                        <input id="text" class="textInputMessageChat" type="text" placeholder="Aa">
                                    </div>
                                    <a href="" id='a-send-message' style="color: #0084ff">
                                        <i class="fas fa-thumbs-up" style="color: #0084ff; font-size: 25px; 
                                            margin-right: 0px; margin-left: 10px;"></i>
                                    </a>
                            </div>
                        {{/if}}
                        <input type="hidden" id='idUserFrom' class='idUserFrom' name="idUserFrom" value='{{user._id}}'/>
                        <input type="hidden" id='idUserTo' class='idUserTo' name="idUserTo" value='{{returnUser0ID users}}' />
                        <input type="hidden" id='idFood' class='idFood' name="idFood" value='{{food._id}}'/>
                        <input type="hidden" id='chatIdUser' class='chatIdUser' name="chatIdUser" value='{{food.idUser}}' />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="order-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Xác nhận mua </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Chi tiết đơn hàng</p>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên món ăn</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá</th>
                        </tr>
                    </thead>
                    <tbody id='tbody'>
                        {{!-- {{#each }} --}}
                            {{!-- <tr>
                                <th scope="row">1</th>
                                <td id='foodNameRow1'>{{food.foodName}}</td>
                                <td>
                                    <input class='text-center volumn' value='1' type='number' 
                                        style='padding: 0px 0px 0px 0px;width:50px' min='1'>
                                </td>
                                <td class="td-price" id='foodPriceRow1'>{{food.price}}đ</td>
                            </tr> --}}
                        {{!-- {{/each}} --}}
                    </tbody>
                </table>
                <div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Tổng cộng:</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3 style="text-align: right; margin-right: 50px" id="cost-h3">
                                0đ
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    style='padding: 6px 12px; margin: 4px; text-transform: none;'>
                    Quay lại
                </button>
                <button id='btn-order-cart'type="button" class="btn btn-primary"
                    style='padding: 6px 12px; margin: 4px; text-transform: none;'>
                    Thanh toán
                </button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{{food.foodName}}" id='foodNameRow1'>
<input type="hidden" value="{{food.price}}" id='foodPriceRow1'>
<input type="hidden" value="{{food._id}}" id='idMainFood'>
<input type="hidden" value="{{food.image}}" id='foodImageRow1'>


<input type="hidden" value="{{vote}}" id='voteByUser'>
{{{hiddenVote food.userVote}}}



{{!-- hiển thị thông báo thành công --}}
<input type="hidden" value="{{_successOrder}}" id="inputHiddenSuccessOrder">

<form method="POST" name='order-form-hiden'>
    <div id='div-add'></div>
</form>
<form method="GET" name='update-form-hidden'></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var costOrderH3 = 0;
        var orderForm = document.forms['order-form-hiden']
        var updateForm = document.forms['update-form-hidden']
        var btnOrderCart = document.getElementById('btn-order-cart')
        var listCartName = [];
        var listCartPrice = [];
        var listCartQuantily =[];
        var listCartImage =[];
        var listCartID =[];
        var SOLUONG = 1;
        var btnOrder = document.getElementById('btn-order')
        var btnValueCart = document.getElementById('btn-value-cart')
        var idMainFood = document.getElementById('idMainFood').value
        var demTruoc = 1; var demSau = 0;
        // thanh toán 
        btnOrderCart.onclick = function(e){
            e.preventDefault()
            // tạo key random để xác nhận order
            var time = Date.now()
            var random =  Math.floor(Math.random() * 1000000);
            var keyRandom = time +""+ random

            var idAuthorFood = $('#chatIdUser').val()
            var idUser = $('#idUserFrom').val()
            var idUserFrom = $('#chatIdUser').val()
            socket.emit('haveOrder', idAuthorFood,idUser,listCartName,listCartPrice,listCartQuantily,listCartImage,costOrderH3,keyRandom)
            $input = '<input type="hidden" value="'+ listCartQuantily[0] +'" name="quantity"></input>'
            $('#div-add').append($input)
            $input = '<input type="hidden" value="'+ idUserFrom+'" name="idUserFrom"></input>'
            $('#div-add').append($input)
            $inputKeyRandom = '<input type="hidden" value="'+ keyRandom +'" name="keyRandom"></input>'
            $('#div-add').append($inputKeyRandom)
            $inputCost = '<input type="hidden" value="'+ costOrderH3 +'" name="cost"></input>'
            $('#div-add').append($inputCost)
            for(var i = 1; i< demTruoc; i++){
                $inputFoodName= '<input type="hidden" value="'+ listCartName[i] +'" name="foodname[]"></input>'
                $inputPrice='<input type="hidden" value="'+ listCartPrice[i] +'" name="price[]"></input>'
                $inputQuantity='<input type="hidden" value="'+ listCartQuantily[i] +'" name="quantity1[]"></input>'
                $inputImage='<input type="hidden" value="'+ listCartImage[i] +'" name="image[]"></input>'
                $inputID='<input type="hidden" value="'+ listCartID[i] +'" name="id[]"></input>'
                $('#div-add').append($inputFoodName)
                $('#div-add').append($inputPrice)
                $('#div-add').append($inputQuantity)
                $('#div-add').append($inputImage)
                $('#div-add').append($inputID)
            }
            orderForm.action = '/foods/' + idMainFood + '/order'
            orderForm.submit()
        }
        // lấy dữ liệu của row 1 trong giỏ hàng
        var foodNameRow1 = document.getElementById('foodNameRow1')
        listCartName.push(foodNameRow1.value)
        var foodPriceRow1 = document.getElementById('foodPriceRow1')
        listCartPrice.push(foodPriceRow1.value)
        listCartQuantily.push('1')
        var foodID = document.getElementById('idMainFood')
        listCartID.push(foodID.value)
        var mainFoodImage = document.getElementById('foodImageRow1')
        listCartImage.push(mainFoodImage.value)
        // xử lý button màu đỏ của order khi giá tiền thay đổi
        var foodPriceRow2 = parseInt(foodPriceRow1.value)
        if(foodPriceRow2<10){
            btnValueCart.style.right = '0px'
        }
        else if(foodPriceRow2<100){
            btnValueCart.style.right = '12px'
        }
        else if(foodPriceRow2<1000){
            btnValueCart.style.right = '24px'
        }
        else if(foodPriceRow2<10000){
            btnValueCart.style.right = '40px'
        }
        else if(foodPriceRow2<100000){
            btnValueCart.style.right = '50px'
        }
        else if(foodPriceRow2<1000000){
            btnValueCart.style.right = '60px'
        }
        else {
            btnValueCart.style.right = '76px'
        }
        // xử lý khi click vào btnOrder
        btnOrder.onclick = function(e){
            e.preventDefault()
            var dem = demTruoc - demSau
            for(var i = demSau+1; i <= demTruoc; i++){ 
                $tr = '<tr><th scope="row">'+i+'</th> <td>' +listCartName[i-1]+ '</td> <td> <input class="text-center volumn" value="'+listCartQuantily[i-1]+'" type="number" style="padding: 0px 0px 0px 0px;width:50px" min="1"></td>  <td class="td-price" >'+parseInt(listCartPrice[i-1]).toLocaleString()+'đ</td><tr>'
                $('#tbody').append($tr)
            }
            demSau=demTruoc
            $(".volumn" ).change(function() {
                var children= parseInt(this.parentNode.parentNode.children[0].innerText) - 1
                listCartQuantily[children]= this.value
                cart()
            });
            var volumns = document.getElementsByClassName('volumn')
            for(var i = 0; i < demTruoc; i++){
                volumns[i].value = listCartQuantily[i]
            }
            cart()

        }
        // ẩn button số trên order
        $('#btn-value-cart').hide()
        $('.animation').click(function(){
            //thêm sản phẩm
            var children = this.parentNode.children
            var foodName = children[2].value
            var price = children[3].value
            var _idFood = children[4].value
            var foodImage = children[5].value
            var kt = 1
            for(var i = 0; i < listCartName.length; i++){
                if(listCartName[i]==foodName){
                    listCartQuantily[i]++;
                    kt=0
                    break
                }
            }
            if(kt){
                listCartQuantily[demTruoc]=1;
                demTruoc++;
                listCartName.push(foodName)
                listCartPrice.push(price)
                listCartID.push(_idFood)
                listCartImage.push(foodImage)
                
                // hiển thị vào giỏ hàng
                var textBtnValueCart = btnValueCart.innerHTML;
                if(textBtnValueCart==''||textBtnValueCart==null){
                    btnValueCart.innerText="2";
                    $('#btn-value-cart').show()
                }
                else if(textBtnValueCart!='9+') {
                    textBtnValueCart = parseInt(textBtnValueCart)
                    if(textBtnValueCart<=7) btnValueCart.innerText = textBtnValueCart+1
                    else {
                        btnValueCart.innerText = '9+'
                    }
                    $('#btn-value-cart').show()
                }
            }
        })

        function cart(){
            var costH3 = document.getElementById('cost-h3')
            var count = 0;
            for(var i = 0; i <listCartName.length;i++){
                count+= listCartPrice[i]*listCartQuantily[i]
            }
            costOrderH3= count
            costH3.innerText = count.toLocaleString()+"đ"
        }

        // button sửa thông tin món ăn
        $('#update-food').click(function(){
            updateForm.action = '/foods/' + listCartID[0]+'/edit'
            updateForm.submit()
        })

        // hiển thị thông báo đặt hàng thành công
        var inputHiddenSuccessOrder = document.getElementById('inputHiddenSuccessOrder').value
        if(inputHiddenSuccessOrder=='yes'){
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                $("#success-alert").slideUp(500);
            });
        }


        // animation
        $('.add-to-cart').click(function() {
            var cart = $('.btn-order-animation');
            var imgtofly = $(this).parent().parent().parent().parent().parent().parent()[0]
            imgtofly = $(imgtofly).children('div.col-md-5')[0]
            imgtofly = $(imgtofly).children()[0]
            imgtofly = $(imgtofly).find('a.lightbox img').eq(0)
            if (imgtofly) {
                var imgclone = imgtofly.clone()
                    .offset({ top:imgtofly.offset().top, left:imgtofly.offset().left })
                    .css({'opacity':'0.7', 'position':'absolute', 'height':'50px', 'width':'50px', 'z-index':'1000'})
                    .appendTo($('body'))
                    .animate({
                        'top':cart.offset().top + 10,
                        'left':cart.offset().left + 30,
                        'width':55,
                        'height':55
                    }, 1000, 'easeOutSine');
                imgclone.animate({'width':0, 'height':0}, function(){ $(this).detach() });
            }
        });

    })
</script>
